<mat-card>
  <form #topicForm="ngForm" (ngSubmit)="save(topicForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{topic.name ? 'Edit' : 'Add'}} Topic</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content class="topic-form-container">

      <input type="hidden" name="id" [(ngModel)]="topic.id">

      <mat-form-field>
        <input matInput
               placeholder="Topic Name"
               [(ngModel)]="topic.name"
               required
               name="name"
               #name>
      </mat-form-field>

      <mat-form-field>
        <mat-select required placeholder="Category" [(ngModel)]="topic.category" name="category"
                    [compareWith]="compare">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <input type="hidden" name="content" [(ngModel)]="topic.content">
      <div [froalaEditor] [(froalaModel)]="topic.content"></div>

    </mat-card-content>

    <mat-card-actions>

      <button mat-raised-button color="primary" type="submit"
              [disabled]="!topicForm.form.valid || !userCanChange(topic)">Save
      </button>

      <button mat-raised-button color="warn" (click)="remove(topic.id)"
              *ngIf="topic.id" type="button" [disabled]="!userCanChange(topic)">Delete
      </button>
      <a mat-raised-button routerLink="/topic-list">Cancel</a>

    </mat-card-actions>
  </form>
</mat-card>
